body{
    background-color: #F7CCAC;
    font-family: 'Montserrat Alternates', sans-serif;
}


#navbarNavAltMarkup .nav-link{
    color: white;
    font-size: 1.3rem;
}

#navbarNavAltMarkup .nav-link:hover{
    color: #826F66;
}


#main-navbar .navbar-brand{
    color: #826F66;
    font-size: 2rem;
}

h1{
    font-size: 50px;
}


#bean-icon{
    margin: 0 auto;
    text-align: center;
}

h2{
    margin-top: 10px;
}


#paragraph-sections{
    width: 500px;
}

iframe{
    display: block;
    
    margin: 0 auto;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(51,42,40)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .custom-toggler.navbar-toggler {
    border-color: #826F66;
  } 

@media(max-width: 767px){
    h1{
        margin-top: 85px;
        font-size: 50px;
    }
    #main-navbar{
        border-bottom: 0.5px solid #826F66;
    }
}

@media(max-width: 1100px){
    h1{
        font-size: 40px;
    }
}

@media(max-width: 900px){
    h1{
        font-size: 30px;
    }
}